html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*########################################## Cabecera ##################################### */
header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    max-width: 100vw;

}

.nav {
    background-color: #48e;
    display: flex;
    /* Convierte el contenedor en flex */
    flex-wrap: wrap;
    align-items: center;
    /* Centra verticalmente los elementos */
    justify-content: center;
    /* Centra horizontalmente los elementos */
    padding: 10px 20px;
    /* Añade padding para un poco de espacio a los lados */
    box-shadow: 0 0 25px #0006;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    /* Para eliminar los puntos de la lista */
    text-align: end;
    display: flex;
    /* Cambia para un diseño flexible */
    align-items: center;
    /* Centra verticalmente los elementos */
    flex-wrap: wrap;
}

.nav__item {
    padding: 10px 20px;
}

.nav__link {
    color: #FFF;
    text-decoration: none;
    font-size: large;
}

.nav__item:hover {
    background-color: #59e;
}

.nav_main_link
{
    border-bottom:solid 2px #fff;
}

#logo-header {
    align-items: center;
    /* Alinea verticalmente el logo */
    height: 70px;
}

@media (max-width: 767px) {
    .nav__list__container {
        display: flex;
        /* Hace que el contenido en el interior sea flexible */
        flex-direction: row;
        /* Cambia la dirección de los bloques a una columna en dispositivos móviles */
        align-items: center;
        /* Centra los bloques horizontalmente */
        gap: 10px 20px;
        /* Espacio entre los items de la lista*/
        width: 100%;
        justify-content: center;
        margin-top: 5%;
    }

    .nav__item {
        padding: 10px 5px;
    }

    #logo-header {
        margin: auto;
    }



}


/*########################################## Introudccion ##################################### */

#introduction {
    height: 650px;
    width: 100%;
    display: flex;
    margin-top: var(--main-header-height);
    background-color: rgba(124, 173, 233, 0.94);
    justify-content: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/226/039/non_2x/abstract-technology-geometric-pattern-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;

    padding: 20px 0;
}

.introduction__grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    }
    .grid__item-1 { grid-area: 1 / 1 / 4 / 4;   display: flex; justify-content: center; align-items: center; }
    .grid__item-2 { grid-area: 1 / 4 / 6 / 6;  display: flex;  align-items: center; border-left:solid 2px #ffffff; padding: 2px;}
    .grid__item-3 { grid-area: 4 / 1 / 6 / 4;  display: flex; justify-content: center;  }

    .grid__item-1 h1{border-bottom:solid #ffffff; padding-bottom: 10px; width: 50%;}
    .grid__item-2 h2{text-align: end; width: 40%; font-weight: lighter;  white-space: pre-wrap;}
    .grid__item-3 p{width: 50%;}


/*########################################## Nuestro equipo ##################################### */

#our-team
{
    align-self: center;
    padding: 5% 15%;
    margin: auto;
}

#our-team h2
{
    border-bottom: solid #ffffff 2px;
    width: fit-content;
    padding: 30px 0;
}

#how-we-help h3
{
    margin-top: 40px;
    color: aqua;
}

#how-we-help p
{
    font-weight:lighter;
    white-space: pre-wrap;
    margin: 2% 0 3% 0;
}

.destacable-text
{
    font-weight: 700;
}

#how-we-help ul
{
    padding-left:0;
    list-style-position:inside;
    list-style-type: circle;
    margin-bottom: 3% ;
}

.container__our-team
{

    display:flex;
    flex-direction: row;
    gap:80px;
    align-items: center;
}

.our-team__img-container img
{
    width:500px;
    border-radius: 40px;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.28);
}


button {
    font-size: 1.4em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
}
button a
{
    text-decoration: none;
    color: #fff;
}

.container {
    width: max-content;
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03f44f, #2104ff);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    margin: 10% 0;
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
}

.container:hover::before {
    background: linear-gradient(90deg, #03f44f, #2104ff);
    filter: blur(1.2em);
}

.container:active::before {
    filter: blur(0.2em);
}

#our-trajectory {width: 100vw; height:450px; background-color: #4c4c4c4a; box-shadow:  0 0 60px #11a3c8; text-align: center;}

.our-trajectory__text-container{padding: 2%; text-align: center;}

.count-box__container{
    min-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 5%;
}

.card {
    --background: linear-gradient(to bottom, #13b37f 0%, #11a3c8 100%);
    width: 20%;
    min-width: 150px;
    height: 254px;
    padding: 0.9px;
    border-radius: 0.7rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
}

.card::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9);
    filter: blur(34.5px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity 0.5s;
}

.card-info {
    --color: #1f1a1d;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: 0.7rem;
    flex-direction: column;
}

.card .title {
    font-weight: light;
    letter-spacing: 0.2em;
    color: white;
}

.primary-text,
.secondary-text {
    margin: 20px 20px;
    text-align: center;

}


/*########################################## Formulario ##################################### */

.form__flex-box{display: flex;flex-direction: row; gap: 80px;width: 100%; margin: 300px 0; align-items: center; justify-content: center;}

.formulari__text-info{ width: 30em; padding-top: 0;}

.formulari__text-info h3
{
    border-bottom: solid #ffffff 2px;
    width: fit-content;
    padding: 30px 0;
    margin-bottom: 40px;
}

.formulari__text-info ul
{
    padding-left:0;
    list-style-position:inside;
    list-style-type: circle;
    margin-bottom: 3% ;
}

.formulari__text-info ul li
{
    margin: 10px 0;
}


form 
{
background-color:transparent;
padding:  10px 20px;
max-width: 500px;
margin: auto;
box-shadow: 0 0 55px #fff2;
margin-top: 50px;
border-radius: 8px;
font-size: 16px;
}

input,area,select,textarea
{
width: 100%;
box-sizing: border-box;
padding: 6px 8px;
border: none;
border: solid 1px #666;
box-shadow: 0 0 15px #0003;
background-color: transparent;
border-radius: 4px;
color: #ddd;
margin: 6px 0;
}

fieldset{margin: 10px 0 ; border: 1px solid #ddd6; border-radius: 0% 5px;}

legend{padding: 0 6px; font-family: sans-serif;}

textarea{max-width: 100%; resize: none; font-family: sans-serif; min-width: 100%; min-height: 102px;}

#submit-button 
{
    width: 100%;
}

#submit-button:hover
{
    background-color: #504e4e;
}
